{
  "openapi": "3.0.3",
  "info": {
    "title": "Membria CE Decision API",
    "version": "1.0.0",
    "description": "Immutable decision records, outcome append, and signal exports powering the Decision Surface."
  },
  "servers": [
    {
      "url": "https://api.membria.com/v1",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "Decision": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "context": { "type": "string" },
          "assumptions": { "type": "array", "items": { "type": "string" } },
          "alternatives": { "type": "array", "items": { "type": "string" } },
          "prediction": { "type": "string" },
          "confidence": { "type": "number", "format": "float" },
          "status": { "type": "string", "enum": ["pending", "review", "closed"] }
        },
        "required": ["id", "context", "prediction", "confidence"]
      },
      "Outcome": {
        "type": "object",
        "properties": {
          "result": { "type": "string" },
          "actualConfidence": { "type": "number", "format": "float" },
          "notes": { "type": "string" }
        },
        "required": ["result"]
      }
    }
  },
  "paths": {
    "/decisions": {
      "get": {
        "summary": "List decision drafts",
        "responses": {
          "200": {
            "description": "Decision drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Decision" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a decision draft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Decision" }
            }
          }
        },
        "responses": {
          "201": { "description": "Decision draft recorded" }
        }
      }
    },
    "/decisions/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" }
        }
      ],
      "get": {
        "summary": "Get a single decision",
        "responses": {
          "200": {
            "description": "Decision draft with status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Decision" }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Archive a decision draft (admin only)",
        "responses": {
          "204": { "description": "Draft marked as archived" }
        }
      }
    },
    "/decisions/{id}/outcome": {
      "post": {
        "summary": "Append the outcome to an immutable decision",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Outcome" }
            }
          }
        },
        "responses": {
          "200": { "description": "Outcome appended" }
        }
      }
    },
    "/webhooks/decision": {
      "post": {
        "summary": "Receive decision pushed from DBB",
        "responses": {
          "200": { "description": "Webhook accepted" }
        }
      }
    }
  }
}
